<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>写博客</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="../css/daohang.css"/>
		<link rel="stylesheet" type="text/css" href="../lib/editormd/css/editormd.min.css"/>

	</head>


	<body>
		<!--导航-->
		<div th:replace="head :: html"></div>

		<!--中间内容-->

		<div class="g-paded-large g-container">
			<div class="ui container">
				<form action="../bsave" method="post" id="blog-form" th:object="${blog}" class="ui  form">
					<input type="hidden" name="bpublished">
					<input type="hidden" name="bid" th:value="*{bid}">
					<input type="hidden" name="bviews" th:value="*{bviews}">
					<input type="hidden" name="user.uid" th:value="${session.user.uid}" >
					<!--标题-->
					<div class="required field">
						<div class="ui left labeled input">
							<div class="ui selection compact teal basic dropdown label">
								<input type="hidden" value="原创" name="bflag" th:value="*{bflag}"/>
								<i class="dropdowm icon"></i>
								<div class="text">原创</div>
								<div class="menu">
									<div class="item" data-value="原创">原创</div>
									<div class="item" data-value="转载">转载</div>
									<div class="item" data-value="翻译">翻译</div>

								</div>

							</div>
							<input type="text" name="btitle" placeholder="输入文章标题" th:value="*{btitle}"/>
						</div>

					</div>
					<!--博客内容-->

					<div class="required field">

						<div id="md-content" style="z-index: 1 !important;">
							<textarea placeholder="博客内容"  name="bcontent" style="display:none;" th:text="*{bcontent}">
</textarea>
						</div>
					</div>

					<div class="two fields">
						<div class="field">
							<div class="ui left labeled input">
								<label class="ui compact teal basic label">分类</label>
								<div class="ui fluid selection dropdown">
									<input type="hidden" name="blogType.tid" th:value="*{blogType}!=null ? *{blogType.tid}"/>
									<i class="dropdowm icon"></i>
									<div class="default text">分类</div>
									<div class="menu">
										<div class="item" th:each="type : ${typeall}" data-value="0" th:data-value="${type.tid}" th:text="${type.tname}"></div>

									</div>
								</div>
							</div>
						</div>

						<div class="field">
							<div class="ui left labeled input">
								<label class="ui compact teal basic label">标签</label>
								<div class="ui fluid selection multiple search dropdown">
									<input type="hidden" name="tagIds" th:value="*{tagIds}"/>
									<i class="dropdowm icon"></i>
									<div class="default text">标签</div>
									<div class="menu">
										<div class="item" th:each="tag : ${tagall}" data-value="0" th:data-value="${tag.tgid}" th:text="${tag.tgname}"></div>
									</div>
								</div>
							</div>

						</div>

					</div>


					<div class="field">
						<div class="ui left labeled input">
							<label class="ui teal basic label">首图</label>
							<input type="text" name="bfristImg" placeholder="首图引用地址" th:value="*{bfristImg}"/>

						</div>

					</div>


					<div class="inline fields">

						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="bdofristImg" name="bdofristImg" class="hidden" th:checked="*{bdofristImg}"/>
								<label for="bdofristImg" class="g-white">首图</label>
							</div>
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="bshareStarement" name="bshareStarement" class="hidden" th:checked="*{bshareStarement}"/>
								<label for="bshareStarement" class="g-white">转载声明</label>
							</div>
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="bdopay" name="bdopay" class="hidden" th:checked="*{bdopay}"/>
								<label for="bdopay" class="g-white">打赏</label>
							</div>
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="bcommentabled" name="bcommentabled" class="hidden"/>
								<label for="bcommentabled" class="g-white">评论</label>
							</div>
						</div>

					</div>


					<div class="ui right aligned container">
						<button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
						<button type="button" id="save-btn" class="ui teal button">保存</button>
						<button type="button" id="publish-btn" class="ui red button" >发布</button>


					</div>
					<div class="ui error message"></div >


				</form>




			</div>
		</div>
		<div th:replace="botton :: html"></div>

		<script src="../lib/editormd/editormd.min.js"></script>





	<script>
		//下拉框的js
        $('.ui.dropdown')
            .dropdown({
                clearable: true
            })
        ;


		$('.ui.form')
			.form({
    on : 'hover',
    fields : {
      title : {
        identifier  : 'btitle',
        rules : [
          {
            type   : 'empty',
            prompt : '请输入标题'
          }
        ]
      },

    content :
    {
    	 identifier  : 'bcontent',
        rules : [
          {
            type   : 'empty',
            prompt : '请输入博客内容'
          }
        ]
    },
        blogType :
            {
                identifier  : 'blogType.tid',
                rules : [
                    {
                        type   : 'empty',
                        prompt : '请输入博客分类'
                    }
                ]
            }



    }
  })
;


//初始化markdown编辑器
var contentEditor;

            $(function() {
                testEditor = editormd("md-content", {
                    width   : "100%",
                    height  : 640,
                    syncScrolling : "single",
                    path    : "../lib/editormd/lib/"
                });

                /*
                // or
                testEditor = editormd({
                    id      : "test-editormd",
                    width   : "90%",
                    height  : 640,
                    path    : "../lib/"
                });
                */
            });


            $('#save-btn').click(function () {
				$('[name="bpublished"]').val("0");
				$('#blog-form').submit();

            })
        $('#publish-btn').click(function () {
            $('[name="bpublished"]').val("1");
            $('#blog-form').submit();
        })


	</script>





	</body>
</html>
