<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>

		<!--底部-->
	<footer class="ui inverted attached segment">
		<div class="ui center aligned container">
			<div class="ui inverted  divided grid stackable">
				<div class="three wide column">
					<img src="../img/g.jpg" class="ui rounded image" alt=""style="width: 110px;"/>
				</div>
				<div class="four wide column container">
					<h4 class="ui inverted g-opacity">
						最新博客
					</h4>
					<div class="ui inverted link list g-opacity">
						<a href="#" class="item">66666</a>
						<a href="#" class="item">6666666666</a>
						<a href="#" class="item">222222222</a>
					</div>
				</div>
				<div class="four wide column">
					<div class="three wide column container">
						<h4 class="ui inverted g-opacity">
							联系我
						</h4>
						<div class="ui inverted link list g-opacity">
							<a href="#" class="item">1138372894@qq.com</a>
							<a href="#" class="item">https://github.com/captainGJH</a>
							<a href="#" class="item">g520jh</a>
						</div>
					</div>
				</div>
				<div class="five wide column">
					<h4 class="ui inverted g-opacity">
						关于我
					</h4>
					<p class="g-opacity">大千世界，无奇不有。
						我陈平安，唯有一剑，可搬山，倒海，降妖，镇魔，敕神，摘星，断江，摧城，开天！</p>
				</div>


			</div>

			<div class="ui inverted section divider"></div>
			<p class="g-opacity">Copyright © 2020 CaptainGJH. All rights reserved.</p>
		</div>


	</footer>
	<!--登录-->
	<div class="ui log mini basic modal">
		<h2 class=" header">登录</h2>
		<div class="content">
			<p><div class="ui input">
			<input type="text" placeholder="输入账号/邮箱号..." id="gemail">
		</div> </p>
			<p> <div class="ui input">
			<input type="text" placeholder="输入密码..." id="gpwd">
		</div></p><br /><br />
			<p><button class="ui mini teal basic  button" onclick="glogin()">确定</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button class="lqx ui mini teal basic centered button">取消</button>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#" class="zhuce">注册账号</a>
			</p>

		</div>
	</div>

	<!--注册-->
	<div class="ui register mini basic modal">
		<div class="header">注册博客</div>
		<div class="content ">
			<p><div class="ui input">
			<input type="text" placeholder="输入用户名..." id="username">
		</div></p>
			<p><div class="ui input">
			<input type="text" placeholder="输入邮箱..." id="email">
		</div></p>
			<p><div class="ui action input">
			<input type="text" placeholder="Search..." id="yzm">
			<input type="button" id="bt1" onclick="yan()" class="btn" value="获取验证码"/>
		</div></p>
			<p> <div class="ui input focus">
			<input type="password" placeholder="输入密码..." id="pwd">
		</div></p>
			<p>
			<div class="ui input focus">
				<input type="password" placeholder="再次输入..." id="pwd1">
			</div>
			</p>
			<br /><br />
			<p>
				<button class="ui mini teal basic  button" type="button" onclick="gregister()">注册</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button class="rqx ui mini teal basic  button">取消</button>

			</p>

		</div>
	</div>



	<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<script src="../lib/prism/prism.js"></script>
		<script src="../lib/waypoints/jquery.waypoints.min.js"></script>


	<script>
        $('.menu.toggle').click(function()
        {
            $('.gitem').toggleClass('g-mobile-hide');//点击按钮删除指定的g-mobile-hide样式

        });

        <!--点击登录跳出登录窗口-->
        $('.glogin').click(function()
        {
            $('.ui.log.modal')
                .modal('show')
            ;

        });
        <!--点击注册跳出注册窗口-->
        $('.zhuce').click(function()
        {
            $('.ui.register.modal').modal('show')
            ;
        });
        <!--点击取消,隐藏窗口-->
        $('.lqx').click(function()
        {
            $('.ui.log.modal').modal('hide');

        });
        $('.rqx').click(function()
        {
            $('.ui.register.modal').modal('hide');

        });
        <!--点击取消,隐藏窗口-->
        $('.dqx').click(function () {
            $('.ui.delect.modal').modal('hide');
        })


        <!--头像提示下拉框-->
        $('.liulang')
            .popup({
                inline     : true,
                hoverable  : true,
                position   : 'bottom left',
                delay: {
                    show: 300,
                    hide: 800
                }
            })
        ;
        <!--消息图标提示下拉框-->
        $('.dingdong')
            .popup({
                inline     : true,
                hoverable  : true,
                position   : 'bottom left',
                delay: {
                    show: 300,
                    hide: 800
                }
            })
        ;

	</script>
		<script>
            <!--点击打赏跳出二维码-->
            $('#pay').popup({
                popup : $('.paycla.popup'),
                on : 'click',
                position: 'bottom center'


            });

            <!--左边跳出微信二维码提示-->
            $('.ewm')
                .popup({
                    popup : $('.ewm1'),
                    position: 'left center'
                })
            ;

<!--页面滚动检测-->
            var waypoint = new Waypoint({
                element: document.getElementById('waypoint'),
                handler: function(direction) {//direction检测滚动条上下的位置down/up
                    if(direction == 'down')
                    {
                        $('#toolar').show();
                    }else
                    {
                        $('#toolar').hide(500);
                    }
                }
            })

			var num=null;
            <!--验证码倒计时-->
            function yan() {

                var phone = $("#phone").val();
                $("#bt1").attr('disabled', true);

                $.get("douser/yan", {}, function (obj) {
                    num = obj;

                    alert(obj);
                });
                var timesRun = 60;
                var interval = setInterval(function () {
                    timesRun -= 1;
                    $("#bt1").val(timesRun);
                    if (timesRun === 0) {
                        $("#bt1").attr('disabled', false);
                        $("#bt1").val("获取验证码");
                        clearInterval(interval);
                    }
                }, 1000);
            }

		</script>

	<script>
		function gregister() {
			var email=$('#email').val().trim();
            var username=$('#username').val().trim();
            var pwd=$('#pwd').val().trim();
            var pwd1=$('#pwd1').val().trim();
            var yzm=$('#yzm').val().trim();
            if(username==""||email==""||pwd==""||pwd1==""||pwd=="")
            {
                alert("输入框不能为空");
                return;

			}else if(pwd!=pwd1)
            {
                alert("两次密码不相同");
                return;
			}
			$.get("douser/register",{uusername:username,uemail:email,upwd:pwd,num:num},function (obj) {

			    if(obj==1)
			    {
			        alert("注册成功");
                    window.location.reload();
				}else if(obj==2)
                {
                    alert("验证码有误，请重新输入")

                }else if(obj==3)
                {
                    alert("邮箱已被注册，请重新输入")

                }
                else
				    {
				        alert("出错");
					}
            });

        }
        function  glogin() {
			var uemail=$('#gemail').val().trim();
			var upwd=$('#gpwd').val().trim();

			$.get("../douser/login",{uemail:uemail,upwd:upwd},function (obj) {
				if(obj==1)
				{
				    alert("登录成功");
                    window.location.reload();
				}else{
				    alert("账号或者密码有误");
				}

            })


        }

	</script>


		
	</body>
</html>
