<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>

		<!--底部-->
	<footer class="ui inverted attached segment">
		<div class="ui center aligned container">
			<div class="ui inverted  divided grid stackable">
				<div class="three wide column">
					<img src="../img/g.jpg" class="ui rounded image" alt=""style="width: 110px;"/>
				</div>
				<div class="four wide column container">
					<h4 class="ui inverted g-opacity">
						最新博客
					</h4>
					<div class="ui inverted link list g-opacity">
						<a href="#" class="item">66666</a>
						<a href="#" class="item">6666666666</a>
						<a href="#" class="item">222222222</a>
					</div>
				</div>
				<div class="four wide column">
					<div class="three wide column container">
						<h4 class="ui inverted g-opacity">
							联系我
						</h4>
						<div class="ui inverted link list g-opacity">
							<a href="#" class="item">1138372894@qq.com</a>
							<a href="#" class="item">https://github.com/captainGJH</a>
							<a href="#" class="item">g520jh</a>
						</div>
					</div>
				</div>
				<div class="five wide column">
					<h4 class="ui inverted g-opacity">
						关于我
					</h4>
					<p class="g-opacity">大千世界，无奇不有。
						我陈平安，唯有一剑，可搬山，倒海，降妖，镇魔，敕神，摘星，断江，摧城，开天！</p>
				</div>


			</div>

			<div class="ui inverted section divider"></div>
			<p class="g-opacity">Copyright © 2020 CaptainGJH. All rights reserved.</p>
		</div>


	</footer>

		<div class="ui notlongin mini modal">
			<div class="content">
				<p>请登录你的账号</p>
				<div class="ui two column grid">
					<div class="column">
					</div>
					<div class="right aligned column">
						<button class="ui mini queding button" type="button">确定</button>
					</div>

				</div>



			</div>


	<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<script src="../lib/prism/prism.js"></script>
		<script src="../lib/waypoints/jquery.waypoints.min.js"></script>


	<script>
        $('.menu.toggle').click(function()
        {
            $('.gitem').toggleClass('g-mobile-hide');//点击按钮删除指定的g-mobile-hide样式

        });


        <!--点击取消,隐藏窗口-->
        <!--点击取消,隐藏窗口-->
        $('.dqx').click(function () {
            $('.ui.delect.modal').modal('hide');
        });
        $('.queding').click(function () {
            $('.ui.notlongin.modal').modal('hide');
        });



        <!--头像提示下拉框-->
        $('.liulang')
            .popup({
                inline     : true,
                hoverable  : true,
                position   : 'bottom left',
                delay: {
                    show: 300,
                    hide: 800
                }
            })
        ;
        <!--消息图标提示下拉框-->
        $('.dingdong')
            .popup({
                inline     : true,
                hoverable  : true,
                position   : 'bottom left',
                delay: {
                    show: 300,
                    hide: 800
                }
            })
        ;

	</script>
		<script>
            <!--点击打赏跳出二维码-->
            $('#pay').popup({
                popup : $('.paycla.popup'),
                on : 'click',
                position: 'bottom center'


            });

            <!--左边跳出微信二维码提示-->
            $('.ewm')
                .popup({
                    popup : $('.ewm1'),
                    position: 'left center'
                })
            ;

<!--页面滚动检测-->
            var waypoint = new Waypoint({
                element: document.getElementById('waypoint'),
                handler: function(direction) {//direction检测滚动条上下的位置down/up
                    if(direction == 'down')
                    {
                        $('#toolar').show();
                    }else
                    {
                        $('#toolar').hide(500);
                    }
                }
            })



	</script>


		
	</body>
</html>
