<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>搜索</title>
		<LINK id="css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" type="text/css" rel="stylesheet" />
		<LINK id="css" href="../css/daohang.css" type="text/css" rel="stylesheet" />
		<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">-->
		<!--<link rel="stylesheet" type="text/css" href="../static/css/daohang.css"/>-->
	</head>


	<body>


				<div th:replace="head :: html"></div>

			<!--中间内容-->
				<div class="g-paded-large">
					<div class="ui container">
						<div class="ui stackable grid">

							<div class="ui attached segment">


								<div class="column">
									<h2 class="ui teal header">搜索结果</h2>

								</div>


							</div>
							<!--blog中间内容-->
							<div class="ui attached segment">
								<div class="ui padded vertical segment g-paded-large" th:each="list : ${searchlist}">

									<div class="ui mobile reversed stackable grid">
										<div class="twelve wide column">
											<a th:href="@{../blogdetails/{bid}(bid=${list.bid})}"><h3 class="ui heaader" th:text="${list.btitle}"></h3></a>
											<p class="g-text" th:text="${list.description}">有聚终有散，人生就是一场场折柳。 岁月长河里，仿佛存在着一座座杨柳依依的渡口，每一段光阴逆旅当中，会有人离船而去，有人登船作伴，然后在下一座渡口又有新的聚散离别。</p>
											<div class="ui grid">
												<div class="eleven wide column">
													<div class="ui mini horizontal link list">
														<div class="item">
															<img th:src="@{/root/img/{img}(img=${list.uheadimg})}" alt="" class="ui avatar image" />
															<div class="content"><a th:href="@{../youindex/{uid}(uid=${list.uid})}" class="header" th:text="${list.unickname}"></a></div>
														</div>
														<div class="item"><i class="calendar icon"></i><span th:text="${#dates.format(list.bupdateTime,'yyyy-MM-dd')}">9999-9-9</span></div>
														<div class="item"><i class="eye icon"></i>[[${list.bviews}]]</div>
													</div>

												</div>

												<div class="right aligned five wide column">
													<a href="#" target="_blank" class="ui basic teal label g-padded-mini" th:text="${list.tname}"></a>
												</div>
											</div>
										</div>
										<div class="three column">
											<a href="#" target="_blank">
												<img src="../img/3.jpg" alt=""  style="width: 200px; height: 150px;" />
											</a>


										</div>

									</div>

								</div>


							</div>

							<!--blog底部内容-->
							<div class="ui botton attached segment">

								<div class="ui two column grid">
									<div class="column">
										<a th:href="@{../search/(page=${searchlist.number}-1,query=${query})}" class="ui mini teal basic button">上一页</a>

									</div>
									<div class="right aligned column">

										<a th:href="@{../search(page=${searchlist.number}+1,query=${query})}" class="ui mini teal basic button">下一页</a>
									</div>

								</div>
							</div>




						</div>
					</div>

				</div>



	</body>
	<div th:replace="botton :: html"></div>
</html>
